.header {
  padding: 10px;
  background: -webkit-linear-gradient(left, #D59F0F, #D59F0F 5%, #002B7A 5%, #002B7A);
  color: white;
  font-size: 30px;
}

.header img {
  width: 120px;
  left: 6%;
  position: relative;
}

.footer {
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, #D59F0F, #D59F0F 5%, #002B7A 5%, #002B7A);
  color: white;
  text-align: center;
}
